@model FA.JustBlog.Core.Models.Tag

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

   @Html.Partial("_CreateOrEditPartial")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
